extends base.pug
block content
        h1 This is home page 
        h3 Links
        a(href="./contactpage") Contact Page
        br
        a(href="./subscribers") All Data
        br
        a(href="./searchpage") Search Page
        
        